.footerBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
    background: #00050c;
}

.footerGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footerBox .footerGrid span {
    flex: 0 0 300px;
}

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #00173e1e;
    padding: 10px;
    border-radius: 10px;
}

.mainForm,
.help,
.footerLink {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.formBox .mainForm {
    padding-top: 60px;
}

.formBox label,
.help h3,
.footerLink h3 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.mainForm label {
    color: #d6deeb59;
    font-size: 15px;
}

.mainForm input {
    background: none;
    border-bottom: 1px solid #00173E;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    outline: none;
    color: #fff;
}

.help ul,
.footerLink ul {
    padding: 10px;
}

.help ul li,
.footerLink ul li {
    list-style: none;
    color: #d6deeb59;
    transition: .5s;
    padding-bottom: 10px;
}

.help ul li:hover,
.footerLink ul li:hover {
    list-style: none;
    color: #fff;
    cursor: pointer;
    padding-left: 5px;
}

.footerPreserved {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerPreserved .links {
    text-decoration: none;
    color: #d6deeb59;
    font-size: 13px;
}

.linkIcon {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 768px) {
    .footerBox {
        padding: 40px 10px;
    }
    
    .help ul {
        padding: 10px 0 0 0;
    }

    .footerLink {
        padding: 20px;
    }

    .footerLink ul {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 10px 0 0 0;
    }

    .linkIcon {
        padding: 0;
    }

    .footerGrid {
        gap: 10px;
    }

    .footerBox .footerGrid span {
        height: auto;
    }

        .mainForm,
        .help,
        .footerLink {
            padding: 10px;
        }
}