.marketPlaceBox {
    width: 100%;
    height: auto;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00173E;
    position: relative;
}

.marketPlaceHeader {
    text-align: center;
    align-items: center;
}

.marketPlaceHeader h1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-family: 'Foldit', cursive;
}

.marketPlaceHeader h2 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
    font-weight: 500;
}

.marketPlaceHeader p {
    text-align: center;
    font-size: 15px;
    color: #d6deeb59;
    width: 600px;
}

.Layer1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
}

.Layer2 {
    position: absolute;
    width: 300px;
    height: 500px;
    left: 0;
    top: 25%;
}

.Layer3 {
    position: absolute;
    top: 20%;
    right: 15%;
    width: 400px;
    height: 500px;
}

.Layer4 {
    position: absolute;
    top: 40px;
    left: 5%;
    width: 500px;
    height: 500px;
}

.marketPlaceGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.marketPlaceImg {
    width: 200px;
    height: 250px !important;
    z-index: 1;
}

.marketPlaceImg .image {
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .5s;
}

.marketPlaceImg .image:hover {
    transform: scale(1.1);
}

.getStarted {
    background: #cf943a;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #cf943a;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 10px;
}


.getStarted:hover {
    background: transparent;
}

@media only screen and (max-width: 768px) {
    .marketPlaceBox {
        height: auto;
    }

    .marketPlaceHeader {
        margin-top: 40px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
    }

    .marketPlaceHeader h1 {
        font-size: 2em;
    }

    .marketPlaceHeader p {
        width: 100%;
    }

    .Layer4 {
        display: none;
    }

    .marketPlaceHeader h1 {
        text-align: start;
    }

    .marketPlaceHeader p {
        text-align: start;
    }

    .marketPlaceGrid {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    .marketPlaceImg {
        flex: 0 0 200px;
    }
}