.navBox {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #0009164f;
    position: absolute;
    top: 0;
    width: 100%;
}

.navBox i {
    color: var(--white);
}

.navBox .navLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background: transparent;
}

.navBox .navLinks ul {
    display: flex;
}

.navBox .navLinks ul li {
    list-style: none;
    margin: 0 20px;
}

.navBox .navLinks ul li .links {
    text-decoration: none;
    color: var(--white);
}

.navBox .navLinks ul li .links:hover {
    color: var(--btn);
}

.navBox .navLinks button {
    background: var(--btn);
    color: var(--white);
    padding: 10px 20px;
    border: 1px solid var(--btn);
    font-size: 20px;
    margin: 0 auto;
}

.navBox .navLinks button:hover {
    border: 1px solid var(--btn);
    background-color: var(--black);
}

.navBox .navBtn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 1.8rem;
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
}


@media only screen and (max-width: 768px) {
    .navBox {
        /* background: #000916; */
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }

    .navBox .navLinks {
        position: absolute;
        grid-template-columns: 1fr;
        justify-content: start;
        align-items: start;
        margin-top: 30px;
        top: 0;
        left: 100%;
        background: #000916;
        width: 100%;
        height: 100vh;
        z-index: 1;
        overflow-x: hidden;
    }

    .navBox .navLinks ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        gap: 30px;
    }

    .navBox .navLinks ul li {
        margin: 10px 20px;
        padding: 5px;
        border-bottom: 1px solid #03183557;
    }

    .navBox .navBtn {
        z-index: 100;
        padding: 5px;
        cursor: pointer;
        background: var(--btn);
        border: none;
        outline: none;
        color: var(--white);
        font-size: 20px;
        display: block;
    }

    .navBtn.active{
        width: 0%;
    }
}