:root {
  --bgColor: #00173E;
  --pinkColor: #F902E0;
  --white: #fff;
  --black: #00050c;
  --paragraph: #d6deeb59;
  --btn: #cf943a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--black);
}